.DS_Store
2-1_define_probability.log
chp2.out
chp2.toc
chp2.vrb
.Rhistory
*.aux
*.snm
*.vrb
Labs/Keys
BRYER-2015_SS_Contract.docx
BRYER-2015_SS_Contract.pdf
.Rproj.user
Students
EPSY530 2015 Summer.Rproj
do_token.txt
